# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/.vs
/FortMP/x64/Release
/x64/Release
/11.31.rar
*.xml
.idea/.idea.REalGamSerber/.idea/.name
/FortMP/x64/Debug
